<a href="{% url 'create_room' %}">Create Room</a>
    <h5>{{room_count}} Rooms Availabel</h5>
    <div>
        {% for room in rooms %}
        <div>
            {% if request.user == room.host %}
            <a href="{% url 'update_room' room.id %}">Edit</a>
            <a href="{% url 'delete_room' room.id %}">Delete</a>
            {% endif %}
            <a href="{% url 'user_profile' room.host.id %}">@{{room.host.username}}</a>
            <h3>{{ room.id }}--><a href="{% url 'room_detail' room.id %}">{{room.name}}</a></h3>
            <small>{{room.topic.name}}</small><hr>
        </div>
        {% endfor %}
    </div>