{% extends 'core/main.html' %}

{% block content %}
    <style>
        .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        }
    </style>
    <h1>This is home block !!!</h1>
    <div class="home-container">
        <div class="topic">
            <h3>Browser Topic</h3>
            <hr>
            <div>
                <a href="">All</a>
            </div>
            {% for topic in topics %}
            <div>
                <a href="">{{topic.name}}</a>
            </div>
            {% endfor %}
        </div>
        <div class="feed">
            <a href="{% url 'create_room' %}">Create Room</a>
            <h5>{{room_count}} Rooms Availabel</h5>
            <div>
                {% for room in rooms %}
                <a href="{% url 'update_room' room.id %}">Edit</a>
                <a href="{% url 'delete_room' room.id %}">Delete</a>
                <a href="">@{{room.host.username}}</a>
                <h3>{{ room.id }}--><a href="{% url 'room_detail' room.id %}">{{room.name}}</a></h3>
                <small>{{room.topic.name}}</small><hr>
                {% endfor %}
            </div>
        </div>
        <div class="activity">
            This is Activity
        </div>
    </div>
{% endblock %}
